<?xml version="1.0" encoding="UTF-8"?>
<settings version="2">
  <section id="script.twitch.center">
    <category id="general" label="30000">
      <group id="1">
        <setting id="chat_display_mode" type="string" label="30001">
          <level>0</level>
          <default>both</default>
          <constraints>
            <options>
              <option label="30002">overlay</option>
              <option label="30003">standalone</option>
              <option label="30004">both</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
        <setting id="chat_engine" type="string" label="30014" help="30017">
          <level>0</level>
          <default>irc</default>
          <constraints>
            <options>
              <option label="30015">irc</option>
              <option label="30016">eventsub</option>
            </options>
          </constraints>
          <control type="list" format="string"/>
        </setting>
        <setting id="show_offline_channels" type="boolean" label="30009">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="client_id" type="string" label="30005" help="">
          <level>2</level>
          <default>f6exkvelsf4gmy83b8zat5i10t3gy6</default>
          <control type="edit" format="string"/>
          <visible>false</visible>
        </setting>
        <setting id="twitch_token" type="string" label="30006" help="">
          <level>2</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string"/>
          <visible>false</visible>
        </setting>
        <setting id="website_token" type="string" label="30007" help="30008">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
